.header{
  padding: 0 60px 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: wheat;
  border-bottom-left-radius: 80px 80px;
  border-bottom-right-radius: 80px 80px;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px;
}
